* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    background-color: rgb(201, 223, 220);
    background-image: url('image.jpg');
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: none;
}

h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px;
    vertical-align: middle;
}

label {
    font-size: 16px;
    font-weight: bold;
    color: #747171;
}

input[type="tel"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="file"],
input[type="datetime-local"],
select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.button-container {
    text-align: center;
    padding: 20px 0;
}

button[type="submit"],
button[type="reset"] {
    padding: 10px 20px;
    border: none;
    width: 270px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="reset"] {
    background-color: #f44336;
}

button[type="reset"]:hover {
    background-color: #d32f2f;
}

.checkbox {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

#error {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
